    $color-primary: #757575;
    $color-head: #212121;
    $color-accent: #2196F3;
    $color-inversion: #FFFFFF;
    $color-brand: #000000;
    $color-background: #F5F5F5;
    $color-team: #F5F4FA;
    $color-dark: #2F303A;
    $color-topline: #ECECEC;
    $color-active: #188CE8;
    $color-container: #EEEEEE;
    $color-contact: #FFFFFF99;
    $color-gradient: #2f303a66;
    $color-link: #AFB1B8;
    $color-bg-link: #ffffff1a;
    $color-product: #2f303acc;
    $color-project: #2196f3e6;
    $color-backdrop: #00000033;
    $color-modal-button: #0000001a;
    $color-modal-title: #212121;
    $color-label: #757575;
    $color-input: #21212133;
    $color-comment: #75757580;
    $color-button-shadow: #00000026;
    $color-border: #ffffff4d;
    $color-email: #ffffff99;

    $cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);