.footer {
    background-color: $color-dark;

    &__container {
        padding: 60px 0;
        text-align: center;

        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
            gap: 93px;
        }
    }
}

.footer-block {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
                display: flex;
                align-items: baseline;
                justify-content: center;
                gap: 165px;
                margin-bottom: 60px;
        }

    @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
            justify-content: center;
            gap: 93px;
    }
}

.footer-contacts {
    @extend %list;
    margin-bottom: 60px;

    &__item {
        display: block;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
            }

        @media screen and (min-width: 1200px) {
            margin-bottom: 9px;
        }
    
    }
    
    &__link {
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.7;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: $color-inversion;

        &--grey {
            color: $color-contact;
        
            @include transition(color);

            &:hover, &:focus {
                color: $color-accent;
                }
            }
    }       
}


.footer-socials { 
    margin-bottom: 60px;
    
    &__text {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $color-inversion;
        margin: 0 auto;
        margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }

    &__list {
        @extend %list;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 10px;
    }

    &__item {
        display: block;
        width: 44px;
        height: 44px;
    }

    &__link {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-color: $color-bg-link;
        color: $color-inversion;
        @include transition(background-color);

        &:hover, &:focus {
            background-color: $color-accent;
            }
    }

    &__icon {
        fill: currentColor;
    }   
}



