.hero {
     background-color: $color-dark;
     padding: 118px 0;

     @media screen and (min-width: 1200px) {
        padding: 200px 0;
     }

    &__overlay {
       margin: 0 auto;

        @media screen and (max-width: 767px) {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/bg-mobile@1x.jpg);
                max-width: 767px;
                height: 400px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
        }

        @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
               screen and (min-resolution: 192dpi) and (max-width: 767px),
               screen and (min-resolution: 2dppx) and (max-width: 767px) {
               background-image: linear-gradient(to right,
                                rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)),
                                url(../images/bg-mobile@2x.jpg);
        }

        @media screen and (min-width: 768px) {
               background-image: linear-gradient(to right,
                               rgba(47, 48, 58, 0.4),
                               rgba(47, 48, 58, 0.4)),
                               url(../images/bg-tablet@1x.jpg);
               height: 459px;
               background-repeat: no-repeat;
               background-size: cover;
               background-position: center;
        }

        @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
               screen and (min-resolution: 192dpi) and (min-width: 768px),
               screen and (min-resolution: 2dppx) and (min-width: 768px) {
               background-image: linear-gradient(to right,
                               rgba(47, 48, 58, 0.4),
                               rgba(47, 48, 58, 0.4)),
                                 url(../images/bg-tablet@2x.jpg);
                
        }
    
        @media screen and (min-width: 1200px) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/bg-desktop@1x.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 600px;
            max-width: 1600px;
        }
    
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
               screen and (min-resolution: 192dpi) and (min-width: 1200px),
               screen and (min-resolution: 2dppx) and (min-width: 1200px) {
               background-image: linear-gradient(to right,
                               rgba(47, 48, 58, 0.4),
                               rgba(47, 48, 58, 0.4)),
                                 url(../images/bg-desktop@2x.jpg);
        }
    }
    

    &__title {
        font-size: 26px;
        text-transform: uppercase;
        line-height: 1.6;
        letter-spacing: 0.06em;
        color: $color-inversion;

        max-width: 360px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.3;
            max-width: 696px;
        }
    }
    
    &__button {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.875;
        letter-spacing: 0.06em;
        font-family: inherit;
        cursor: pointer;
        color: $color-inversion;
        background-color: $color-accent;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 10px 24px;
        border: 0;
        border-radius: 4px;
        @include transition(background-color);

        &:hover, &:focus {
              background-color: $color-active;
        }
    }
}



