.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    @include transition(opacity, visibility);
    background-color: $color-backdrop;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    padding: 40px;
    width: 528px;
    background-color: $color-inversion;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    @include transition(transform);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scaleX(0.5);
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid $color-modal-button;
        background-color: $color-inversion;
        fill: $color-brand;
        color: $color-brand;
        cursor: pointer;
    
        position: absolute;
        right: 8px;
        top: 8px;
        top: 8px;
    }

    &__icon {
        fill: currentColor;

        @include transition(fill);

        .modal__button:hover &, .modal__button:focus & {
                fill: $color-accent;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 12px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.172;
        letter-spacing: 0.03em;
        color: $color-modal-title;
    }
}







