.navigation {

    display: none;

    

    // display: flex;
    // align-items: center;
    // gap: 93px;

    // &__list {
    //     @extend %list;
    //     display: flex;
    //     gap: 50px;
    // }

    // &__item {
    //     display: block;
    //     position: relative;
    // }

    // &__studio {
    //    width: 48px;

    //   &::after {
    //     position: absolute;
    //     content: '';
    //     left: 0;
    //     bottom: 0;
    //     width: 48px;
    //     height: 4px;
    //     background-color: $color-accent;
    //     border-radius: 2px;
    //     }
    // }

    // &__link {
    //     font-size: 14px;
    //     font-weight: 500;
    //     line-height: 1.2;
    //     text-decoration: none;
    //     letter-spacing: 0.02em;
    //     color: $color-head;
    //     display: block;
    //     padding: 32px 0;
    //     text-align: center;
    //     @include transition(color);

    //     &:hover, &:focus {
    //         color: $color-accent;
    //     }

    //     &--current {
    //         color: $color-accent
    //     }
    // }

    // &__portfolio {
    //     width: 78px;

    //     &::after {
    //         position: absolute;
    //         content: '';
    //         left: 0;
    //         bottom: 0;
    //         width: 100%;
    //         height: 4px;
    //         background-color: $color-accent;
    //         border-radius: 2px;
    //     }
    // }
    
    
}







