.product {
    display: none;
    padding: 0 0 94px 0;

        &__list {
            @extend %list;
            display: flex;
            gap: 30px;
        }
    
        &__item {
            display: flex;
            position: relative;
            width: 370px;
        }
    
        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-product;
            position: absolute;
            width: 100%;
            height: 70px;
            left: 0;
            bottom: 0;
        }
    
        &__text {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $color-inversion;
        }
     
        @media screen and ( min-width: 1200px) {
            display: block;
        }
}

