.subscribe {
    &__title {
        display: block;
        margin: 0 auto 20px auto;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.172;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        color: $color-inversion;
        cursor: pointer;

        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }

    &__wrapper {
        margin: 0;
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__input {
        width: 100%;
        height: 50px;
        margin: 0 auto 20px auto;
        padding: 15px 16px;
        border: 1px solid $color-border;
        border-radius: 4px;
        background-color: transparent;
        color: $color-email;
        outline: 0;
        cursor: pointer;
        box-shadow: 0px 4px 4px $color-button-shadow;

        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: $color-email;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            width: 450px;
        }

        @media screen and (min-width: 1200px) {
            width: 358px;
            margin: 0 12px 0 0;
        }
    }

    &__button {
        display: flex;
        width: 200px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 28px;
        margin: 0 auto;
        background-color: $color-accent;
        color: $color-inversion;
        border: 0;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0px 4px 4px $color-button-shadow;
        font-family: inherit;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.875;
        letter-spacing: 0.06em;

        @include transition(background-color);

        &:hover, &:focus {
            background-color: $color-active;
        }
    }

     &__icon {
        fill: currentColor;
    }
}