.team {
    background-color: $color-team;

    &__list {
        @extend %list;
        margin: 0 auto;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: center;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            gap: 30px;
            flex-wrap: nowrap;
        }
            
    }
    
    &__item {
        background-color: $color-inversion;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                    0px 1px 1px rgba(0, 0, 0, 0.14),
                    0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-bottom: 30px;
        width: 450px;
        height: 100%;

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }
}

.member {
    padding: 30px 0 24px 0;
    border: 1px solid transparent;

    @media screen and (min-width: 1200px) {
        padding: 30px 0;
    }

    &__title {
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0.03em;
            color: var(--head-color);
            text-align: center;
            margin-bottom: 10px;
        }
     
        &__text {
            font-size: 16px; 
            line-height: 1.2;
            letter-spacing: 0.03em;
            color: $color-primary;
            text-align: center;
            margin: 0 auto;
        }
    
        &__list {
            @extend %list;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 16px;
            gap: 10px;
        }
    
        &__item {
            display: block;
            width: 44px;
            height: 44px;
        }

        &__link {
            display: flex;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            background-color: $color-inversion;
            color: $color-link;
            @include transition(color);
            @include transition(background-color);

                &:hover, &:focus {
                    background-color: $color-accent;
                    fill: $color-inversion;
                }
        }
    
        &__icon {
            fill: currentColor;

            @include transition(fill);

            .member__link:hover &, .member__link:focus & {
                    fill: $color-inversion;
                }
            }
}